asgiref==3.7.2
Django==3.2.21
django-dajax==0.9.2
django-dajaxice==0.7
django-humanize==0.1.2
humanize==4.6.0
importlib-metadata==6.7.0
Pillow==9.5.0
pytz==2023.3.post1
sqlparse==0.4.4
typing_extensions==4.7.1
zipp==3.15.0
